.App {
  text-align: center;
  background-color: #f0f0f0; /* Example background color */
  min-height: 100vh; /* Ensure the background color stretches to the bottom */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TableView {
  width: 100%; /* Ensure the TableView takes full width */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.checkmark-circle {
  width: 16px !important; /* Smaller size for the icon */
  height: 16px !important; /* Smaller size for the icon */
  color: #008000 !important; /* Green color for working hours */
}

.checkmark-circle svg {
  fill: #008000 !important; /* Green color for working hours */
}

.close-circle {
  width: 16px !important; /* Smaller size for the icon */
  height: 16px !important; /* Smaller size for the icon */
  color: #FF0000 !important; /* Red color for non-working hours */
}

.close-circle svg {
  fill: #FF0000 !important; /* Red color for non-working hours */
}

.city-name {
  display: inline;
}

@media (max-width: 640px) {
  .city-name {
    display: none;
  }
}

@media (max-width: 600px) {
  .city-column {
    flex-grow: 1 !important;
  }
}

h1 {
  text-align: center; /* Center the h1 element */
}

body, html {
  width: 100%; /* Ensure the body and html take full width */
  margin: 0;
  padding: 0;
}